{% extends "components/base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 px-md-4 main-content">
        {% include 'includes/message_error_form.html' %}
        
        <form method="post" enctype="multipart/form-data" class="py-4">
            {% csrf_token %}
            <div class="card shadow p-4">
                <h3 class="text-primary mb-4 fw-bold">{{ title1 }}</h3>
                <div class="row g-0">
                    <!-- Columna izquierda -->
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="{{ form.nombre_servicio.id_for_label }}" class="form-label fw-bold">{{ form.nombre_servicio.label }}</label>
                            {{ form.nombre_servicio }}
                            {% if form.nombre_servicio.errors %}
                                <div class="text-danger">
                                    {% for error in form.nombre_servicio.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.costo_servicio.id_for_label }}" class="form-label fw-bold">{{ form.costo_servicio.label }}</label>
                            {{ form.costo_servicio }}
                            {% if form.costo_servicio.errors %}
                                <div class="text-danger">
                                    {% for error in form.costo_servicio.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Columna derecha -->
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="{{ form.descripcion.id_for_label }}" class="form-label fw-bold">{{ form.descripcion.label }}</label>
                            {{ form.descripcion }}
                            {% if form.descripcion.errors %}
                                <div class="text-danger">
                                    {% for error in form.descripcion.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label fw-bold">
                                {{ form.activo }} {{ form.activo.label }}
                            </label>
                            {% if form.activo.errors %}
                                <div class="text-danger">
                                    {% for error in form.activo.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-outline-success me-2" type="submit">Guardar Servicio</button>
                    <a class="btn btn-outline-warning" href="{% url 'attention:Servicios_adicionales_list' %}">Cancelar</a>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
